[defaults]
inventory       = hosts.ini
remote_user     = ansible_admin
host_key_checking = False
retry_files_enabled = False
roles_path      = roles
stdout_callback = default
deprecation_warnings = False
interpreter_python = auto_silent

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s
